In [424]:
import pandas as pd
import numpy as np

In [425]:
pd.set_option("display.max_rows", 10)
pd.read_csv('cwurData.csv')

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
0,1,Harvard University,USA,1,7,9,1,1,1,1,NaN,5,100.00,2012
1,2,Massachusetts Institute of Technology,USA,2,9,17,3,12,4,4,NaN,1,91.67,2012
2,3,Stanford University,USA,3,17,11,5,4,2,2,NaN,15,89.50,2012
3,4,University of Cambridge,United Kingdom,1,10,24,4,16,16,11,NaN,50,86.17,2012
4,5,California Institute of Technology,USA,4,2,29,7,37,22,22,NaN,18,85.21,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,996,University of the Algarve,Portugal,7,367,567,218,926,845,812,969.0,816,44.03,2015
2196,997,Alexandria University,Egypt,4,236,566,218,997,908,645,981.0,871,44.03,2015
2197,998,Federal University of Ceará,Brazil,18,367,549,218,830,823,812,975.0,824,44.03,2015
2198,999,University of A Coruña,Spain,40,367,567,218,886,974,812,975.0,651,44.02,2015
2199,1000,China Pharmaceutical University,China,83,367,567,218,861,991,812,981.0,547,44.02,2015

In [426]:
df = pd.read_csv('cwurData.csv')

df.head(10)

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
0,1,Harvard University,USA,1,7,9,1,1,1,1,NaN,5,100.00,2012
1,2,Massachusetts Institute of Technology,USA,2,9,17,3,12,4,4,NaN,1,91.67,2012
2,3,Stanford University,USA,3,17,11,5,4,2,2,NaN,15,89.50,2012
3,4,University of Cambridge,United Kingdom,1,10,24,4,16,16,11,NaN,50,86.17,2012
4,5,California Institute of Technology,USA,4,2,29,7,37,22,22,NaN,18,85.21,2012
5,6,Princeton University,USA,5,8,14,2,53,33,26,NaN,101,82.50,2012
6,7,University of Oxford,United Kingdom,2,13,28,9,15,13,19,NaN,26,82.34,2012
7,8,Yale University,USA,6,14,31,12,14,6,15,NaN,66,79.14,2012
8,9,Columbia University,USA,7,23,21,10,13,12,14,NaN,5,78.86,2012
9,10,"University of California, Berkeley",USA,8,16,52,6,6,5,3,NaN,16,78.55,2012

In [427]:
pd.read_csv('cwurData.csv')
df2 = pd.read_csv('timesData.csv')
df2.head(10)

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011
1,2,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96.0,"2,243",6.9,27%,33 : 67,2011
2,3,Massachusetts Institute of Technology,United States of America,97.8,82.3,91.4,99.9,87.5,95.6,"11,074",9.0,33%,37 : 63,2011
3,4,Stanford University,United States of America,98.3,29.5,98.1,99.2,64.3,94.3,"15,596",7.8,22%,42 : 58,2011
4,5,Princeton University,United States of America,90.9,70.3,95.4,99.9,-,94.2,"7,929",8.4,27%,45 : 55,2011
5,6,University of Cambridge,United Kingdom,90.5,77.7,94.1,94.0,57.0,91.2,"18,812",11.8,34%,46 : 54,2011
6,6,University of Oxford,United Kingdom,88.2,77.2,93.9,95.1,73.5,91.2,"19,919",11.6,34%,46 : 54,2011
7,8,"University of California, Berkeley",United States of America,84.2,39.6,99.3,97.8,-,91.1,"36,186",16.4,15%,50 : 50,2011
8,9,Imperial College London,United Kingdom,89.2,90.0,94.5,88.3,92.9,90.6,"15,060",11.7,51%,37 : 63,2011
9,10,Yale University,United States of America,92.1,59.2,89.7,91.5,-,89.5,"11,751",4.4,20%,50 : 50,2011

In [428]:
df.isnull().sum()

world_rank                0
institution               0
country                   0
national_rank             0
quality_of_education      0
                       ...
citations                 0
broad_impact            200
patents                   0
score                     0
year                      0
Length: 14, dtype: int64

In [429]:
df_merge=df.merge(df2, left_on='institution', right_on='university_name')
df_merge = df_merge[0:10]
df = df_merge
df

,world_rank_x,institution,country_x,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations_x,...,international,research,citations_y,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year_y
0,1,Harvard University,USA,1,7,9,1,1,1,1,...,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011
1,1,Harvard University,USA,1,7,9,1,1,1,1,...,67.5,97.4,99.8,35.9,93.9,"20,152",8.9,25%,NaN,2012
2,1,Harvard University,USA,1,7,9,1,1,1,1,...,63.7,98.6,99.2,39.9,93.6,"20,152",8.9,25%,NaN,2013
3,1,Harvard University,USA,1,7,9,1,1,1,1,...,66.2,98.5,99.1,40.6,93.9,"20,152",8.9,25%,NaN,2014
4,1,Harvard University,USA,1,7,9,1,1,1,1,...,67.6,98.6,98.9,44.0,93.3,"20,152",8.9,25%,NaN,2015
5,1,Harvard University,USA,1,7,9,1,1,1,1,...,77.2,99.0,99.8,45.2,91.6,"20,152",8.9,25%,NaN,2016
6,1,Harvard University,USA,1,1,1,1,1,1,1,...,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011
7,1,Harvard University,USA,1,1,1,1,1,1,1,...,67.5,97.4,99.8,35.9,93.9,"20,152",8.9,25%,NaN,2012
8,1,Harvard University,USA,1,1,1,1,1,1,1,...,63.7,98.6,99.2,39.9,93.6,"20,152",8.9,25%,NaN,2013
9,1,Harvard University,USA,1,1,1,1,1,1,1,...,66.2,98.5,99.1,40.6,93.9,"20,152",8.9,25%,NaN,2014

In [430]:
df.query('country_x < country_y')

,world_rank_x,institution,country_x,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations_x,...,international,research,citations_y,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year_y
0,1,Harvard University,USA,1,7,9,1,1,1,1,...,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011
1,1,Harvard University,USA,1,7,9,1,1,1,1,...,67.5,97.4,99.8,35.9,93.9,"20,152",8.9,25%,NaN,2012
2,1,Harvard University,USA,1,7,9,1,1,1,1,...,63.7,98.6,99.2,39.9,93.6,"20,152",8.9,25%,NaN,2013
3,1,Harvard University,USA,1,7,9,1,1,1,1,...,66.2,98.5,99.1,40.6,93.9,"20,152",8.9,25%,NaN,2014
4,1,Harvard University,USA,1,7,9,1,1,1,1,...,67.6,98.6,98.9,44.0,93.3,"20,152",8.9,25%,NaN,2015
5,1,Harvard University,USA,1,7,9,1,1,1,1,...,77.2,99.0,99.8,45.2,91.6,"20,152",8.9,25%,NaN,2016
6,1,Harvard University,USA,1,1,1,1,1,1,1,...,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011
7,1,Harvard University,USA,1,1,1,1,1,1,1,...,67.5,97.4,99.8,35.9,93.9,"20,152",8.9,25%,NaN,2012
8,1,Harvard University,USA,1,1,1,1,1,1,1,...,63.7,98.6,99.2,39.9,93.6,"20,152",8.9,25%,NaN,2013
9,1,Harvard University,USA,1,1,1,1,1,1,1,...,66.2,98.5,99.1,40.6,93.9,"20,152",8.9,25%,NaN,2014

In [431]:
np.random.seed(50)
col_name=['country_x','country_y']
mask = np.random.choice([True, False], size=df[col_name].shape)
mask[mask.all(1),-1] = 0
print(mask)
df[col_name]=df[col_name].mask(mask)
df

[[ True False]
 [False False]
 [False  True]
 [ True False]
 [False  True]
 [ True False]
 [False  True]
 [False  True]
 [False False]
 [ True False]]

,world_rank_x,institution,country_x,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations_x,...,international,research,citations_y,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year_y
0,1,Harvard University,NaN,1,7,9,1,1,1,1,...,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011
1,1,Harvard University,USA,1,7,9,1,1,1,1,...,67.5,97.4,99.8,35.9,93.9,"20,152",8.9,25%,NaN,2012
2,1,Harvard University,USA,1,7,9,1,1,1,1,...,63.7,98.6,99.2,39.9,93.6,"20,152",8.9,25%,NaN,2013
3,1,Harvard University,NaN,1,7,9,1,1,1,1,...,66.2,98.5,99.1,40.6,93.9,"20,152",8.9,25%,NaN,2014
4,1,Harvard University,USA,1,7,9,1,1,1,1,...,67.6,98.6,98.9,44.0,93.3,"20,152",8.9,25%,NaN,2015
5,1,Harvard University,NaN,1,7,9,1,1,1,1,...,77.2,99.0,99.8,45.2,91.6,"20,152",8.9,25%,NaN,2016
6,1,Harvard University,USA,1,1,1,1,1,1,1,...,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011
7,1,Harvard University,USA,1,1,1,1,1,1,1,...,67.5,97.4,99.8,35.9,93.9,"20,152",8.9,25%,NaN,2012
8,1,Harvard University,USA,1,1,1,1,1,1,1,...,63.7,98.6,99.2,39.9,93.6,"20,152",8.9,25%,NaN,2013
9,1,Harvard University,NaN,1,1,1,1,1,1,1,...,66.2,98.5,99.1,40.6,93.9,"20,152",8.9,25%,NaN,2014

In [432]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 0 to 9
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   world_rank_x            10 non-null     int64
 1   institution             10 non-null     object
 2   country_x               6 non-null      object
 3   national_rank           10 non-null     int64
 4   quality_of_education    10 non-null     int64
 5   alumni_employment       10 non-null     int64
 6   quality_of_faculty      10 non-null     int64
 7   publications            10 non-null     int64
 8   influence               10 non-null     int64
 9   citations_x             10 non-null     int64
 10  broad_impact            0 non-null      float64
 11  patents                 10 non-null     int64
 12  score                   10 non-null     float64
 13  year_x                  10 non-null     int64
 14  world_rank_y            10 non-null     object
 15  university_name         10 non-null     object
 16  country_y               6 non-null      object
 17  teaching                10 non-null     float64
 18  international           10 non-null     object
 19  research                10 non-null     float64
 20  citations_y             10 non-null     float64
 21  income                  10 non-null     object
 22  total_score             10 non-null     object
 23  num_students            10 non-null     object
 24  student_staff_ratio     10 non-null     float64
 25  international_students  10 non-null     object
 26  female_male_ratio       0 non-null      object
 27  year_y                  10 non-null     int64
dtypes: float64(6), int64(11), object(11)
memory usage: 2.3+ KB

In [433]:
df.rename(columns={"university_name": "Name of University"})

,world_rank_x,institution,country_x,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations_x,...,international,research,citations_y,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year_y
0,1,Harvard University,NaN,1,7,9,1,1,1,1,...,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011
1,1,Harvard University,USA,1,7,9,1,1,1,1,...,67.5,97.4,99.8,35.9,93.9,"20,152",8.9,25%,NaN,2012
2,1,Harvard University,USA,1,7,9,1,1,1,1,...,63.7,98.6,99.2,39.9,93.6,"20,152",8.9,25%,NaN,2013
3,1,Harvard University,NaN,1,7,9,1,1,1,1,...,66.2,98.5,99.1,40.6,93.9,"20,152",8.9,25%,NaN,2014
4,1,Harvard University,USA,1,7,9,1,1,1,1,...,67.6,98.6,98.9,44.0,93.3,"20,152",8.9,25%,NaN,2015
5,1,Harvard University,NaN,1,7,9,1,1,1,1,...,77.2,99.0,99.8,45.2,91.6,"20,152",8.9,25%,NaN,2016
6,1,Harvard University,USA,1,1,1,1,1,1,1,...,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011
7,1,Harvard University,USA,1,1,1,1,1,1,1,...,67.5,97.4,99.8,35.9,93.9,"20,152",8.9,25%,NaN,2012
8,1,Harvard University,USA,1,1,1,1,1,1,1,...,63.7,98.6,99.2,39.9,93.6,"20,152",8.9,25%,NaN,2013
9,1,Harvard University,NaN,1,1,1,1,1,1,1,...,66.2,98.5,99.1,40.6,93.9,"20,152",8.9,25%,NaN,2014

In [434]:
df.set_index('institution')

,world_rank_x,country_x,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations_x,broad_impact,...,international,research,citations_y,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year_y
institution,,,,,,,,,,,,,,,,,,,,,
Harvard University,1,NaN,1,7,9,1,1,1,1,NaN,...,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011
Harvard University,1,USA,1,7,9,1,1,1,1,NaN,...,67.5,97.4,99.8,35.9,93.9,"20,152",8.9,25%,NaN,2012
Harvard University,1,USA,1,7,9,1,1,1,1,NaN,...,63.7,98.6,99.2,39.9,93.6,"20,152",8.9,25%,NaN,2013
Harvard University,1,NaN,1,7,9,1,1,1,1,NaN,...,66.2,98.5,99.1,40.6,93.9,"20,152",8.9,25%,NaN,2014
Harvard University,1,USA,1,7,9,1,1,1,1,NaN,...,67.6,98.6,98.9,44.0,93.3,"20,152",8.9,25%,NaN,2015
Harvard University,1,NaN,1,7,9,1,1,1,1,NaN,...,77.2,99.0,99.8,45.2,91.6,"20,152",8.9,25%,NaN,2016
Harvard University,1,USA,1,1,1,1,1,1,1,NaN,...,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011
Harvard University,1,USA,1,1,1,1,1,1,1,NaN,...,67.5,97.4,99.8,35.9,93.9,"20,152",8.9,25%,NaN,2012
Harvard University,1,USA,1,1,1,1,1,1,1,NaN,...,63.7,98.6,99.2,39.9,93.6,"20,152",8.9,25%,NaN,2013
Harvard University,1,NaN,1,1,1,1,1,1,1,NaN,...,66.2,98.5,99.1,40.6,93.9,"20,152",8.9,25%,NaN,2014

In [435]:
df.melt()

         variable value
0    world_rank_x     1
1    world_rank_x     1
2    world_rank_x     1
3    world_rank_x     1
4    world_rank_x     1
..            ...   ...
275        year_y  2016
276        year_y  2011
277        year_y  2012
278        year_y  2013
279        year_y  2014

[280 rows x 2 columns]

In [436]:
df.apply(lambda x: [1, 2], axis=1, result_type='expand')

   0  1
0  1  2
1  1  2
2  1  2
3  1  2
4  1  2
5  1  2
6  1  2
7  1  2
8  1  2
9  1  2

In [437]:
df.dropna(how='all')

,world_rank_x,institution,country_x,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations_x,...,international,research,citations_y,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year_y
0,1,Harvard University,NaN,1,7,9,1,1,1,1,...,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011
1,1,Harvard University,USA,1,7,9,1,1,1,1,...,67.5,97.4,99.8,35.9,93.9,"20,152",8.9,25%,NaN,2012
2,1,Harvard University,USA,1,7,9,1,1,1,1,...,63.7,98.6,99.2,39.9,93.6,"20,152",8.9,25%,NaN,2013
3,1,Harvard University,NaN,1,7,9,1,1,1,1,...,66.2,98.5,99.1,40.6,93.9,"20,152",8.9,25%,NaN,2014
4,1,Harvard University,USA,1,7,9,1,1,1,1,...,67.6,98.6,98.9,44.0,93.3,"20,152",8.9,25%,NaN,2015
5,1,Harvard University,NaN,1,7,9,1,1,1,1,...,77.2,99.0,99.8,45.2,91.6,"20,152",8.9,25%,NaN,2016
6,1,Harvard University,USA,1,1,1,1,1,1,1,...,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011
7,1,Harvard University,USA,1,1,1,1,1,1,1,...,67.5,97.4,99.8,35.9,93.9,"20,152",8.9,25%,NaN,2012
8,1,Harvard University,USA,1,1,1,1,1,1,1,...,63.7,98.6,99.2,39.9,93.6,"20,152",8.9,25%,NaN,2013
9,1,Harvard University,NaN,1,1,1,1,1,1,1,...,66.2,98.5,99.1,40.6,93.9,"20,152",8.9,25%,NaN,2014

In [438]:
df.fillna('missing')

,world_rank_x,institution,country_x,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations_x,...,international,research,citations_y,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year_y
0,1,Harvard University,missing,1,7,9,1,1,1,1,...,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,missing,2011
1,1,Harvard University,USA,1,7,9,1,1,1,1,...,67.5,97.4,99.8,35.9,93.9,"20,152",8.9,25%,missing,2012
2,1,Harvard University,USA,1,7,9,1,1,1,1,...,63.7,98.6,99.2,39.9,93.6,"20,152",8.9,25%,missing,2013
3,1,Harvard University,missing,1,7,9,1,1,1,1,...,66.2,98.5,99.1,40.6,93.9,"20,152",8.9,25%,missing,2014
4,1,Harvard University,USA,1,7,9,1,1,1,1,...,67.6,98.6,98.9,44.0,93.3,"20,152",8.9,25%,missing,2015
5,1,Harvard University,missing,1,7,9,1,1,1,1,...,77.2,99.0,99.8,45.2,91.6,"20,152",8.9,25%,missing,2016
6,1,Harvard University,USA,1,1,1,1,1,1,1,...,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,missing,2011
7,1,Harvard University,USA,1,1,1,1,1,1,1,...,67.5,97.4,99.8,35.9,93.9,"20,152",8.9,25%,missing,2012
8,1,Harvard University,USA,1,1,1,1,1,1,1,...,63.7,98.6,99.2,39.9,93.6,"20,152",8.9,25%,missing,2013
9,1,Harvard University,missing,1,1,1,1,1,1,1,...,66.2,98.5,99.1,40.6,93.9,"20,152",8.9,25%,missing,2014

In [440]:
df.groupby(['institution']).mean()

<ipython-input-440-1db25aba9c13>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['institution']).mean()

,world_rank_x,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations_x,broad_impact,patents,score,year_x,teaching,research,citations_y,student_staff_ratio,year_y
institution,,,,,,,,,,,,,,,,,
Harvard University,1.0,1.0,4.6,5.8,1.0,1.0,1.0,1.0,NaN,5.8,100.0,2012.4,94.79,98.4,99.25,8.9,2013.1

In [441]:
df.agg("mean", axis="columns")

<ipython-input-441-41a31b8a6513>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.agg("mean", axis="columns")

Series([], dtype: float64)